body {
	background: black;
}

.postcard {
	background-color: white;
	width: 400px;
	height: 300px;
	margin: auto;
}

.postcard-header {
	width: 400px;
	height: 50px;
	display: flex;
}

.imagen {
	width: 50px;
	height: 50px;
	padding-right: 5px;
	padding-top: 5px;
}

.titulo {
	padding: 0px;
	margin: 0px;
	width: 350px;
	height: 50px;
	padding-top: 5px;
	padding-left: 5px;
}
.postcard-body {
	display: flex;
}

p {
	margin-top: 0px;
}
.body-left,
.body-right {
	padding: 10px;
}
input {
	border: none;
	border-bottom: 1px solid grey;
}

.button {
	background-color: grey;
	height: 20px;
}
.postcard-footer {
	text-align: center;
}
